*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App {
  display:grid;
  height: 100vh;
  background-color: rgb(211, 110, 169);
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color:white;
  gap:5px;
  
}

button{
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  border: 2px solid white;
  padding: 7px;
  color: rgb(255, 244, 244);
  font-size: 20px;
}

button:hover{
  background-color: white;
  color:rgb(211, 110, 169);
}

